# Logs
distribute.log
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
# data/file_manifest.json 必须推送，它是前端导航页的数据源


# [Auto] Large files managed by HuggingFace
《内容算法：把内容变成价值的效率系统》_闫泽华.pdf

