body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:588px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1643 {
  position:absolute;
  left:1px;
  top:29px;
  width:374px;
  height:588px;
  font-size:11px;
}
#u1644 {
  position:absolute;
  left:2px;
  top:286px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1645 {
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:140px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:29px;
}
#u1648 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1649 {
  position:absolute;
  left:11px;
  top:8px;
  width:360px;
  height:11px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1651 {
  position:absolute;
  left:13px;
  top:42px;
  width:11px;
  height:16px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1653 {
  position:absolute;
  left:156px;
  top:39px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1654 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1655 {
  position:absolute;
  left:30px;
  top:84px;
  width:65px;
  height:65px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1657 {
  position:absolute;
  left:340px;
  top:39px;
  width:24px;
  height:24px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1659 {
  position:absolute;
  left:30px;
  top:194px;
  width:40px;
  height:40px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1661 {
  position:absolute;
  left:22px;
  top:244px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1662 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1663 {
  position:absolute;
  left:123px;
  top:194px;
  width:40px;
  height:40px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1665 {
  position:absolute;
  left:115px;
  top:244px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1667 {
  position:absolute;
  left:212px;
  top:194px;
  width:40px;
  height:40px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1669 {
  position:absolute;
  left:204px;
  top:244px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1671 {
  position:absolute;
  left:155px;
  top:187px;
  width:17px;
  height:17px;
  color:#FFFFFF;
}
#u1672 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1673 {
  position:absolute;
  left:303px;
  top:194px;
  width:40px;
  height:40px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1675 {
  position:absolute;
  left:295px;
  top:244px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1678 {
  position:absolute;
  left:123px;
  top:83px;
  width:62px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#6699FF;
}
#u1680 {
  position:absolute;
  left:123px;
  top:107px;
  width:160px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#6699FF;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1682 {
  position:absolute;
  left:201px;
  top:134px;
  width:111px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u1684 {
  position:absolute;
  left:189px;
  top:81px;
  width:77px;
  height:24px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u1685 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-style:normal;
  font-size:12px;
}
#u1686 {
  position:absolute;
  left:123px;
  top:134px;
  width:55px;
  height:17px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-style:normal;
  font-size:12px;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u1688 {
  position:absolute;
  left:275px;
  top:81px;
  width:77px;
  height:24px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u1689 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
